html, body {
	height: 100%;
}

.header a, a:hover {
	color: #5182b5;
	text-decoration: none;
}

.header h1 {
	letter-spacing: 15px;
	font-size: 300%;
}

.header p {
	color: white !important;
	font-size: 90%;
	letter-spacing: 3px;
}

.navbar-inverse {
	background-color: #b2d3fb;
	padding: 1%;
}

.nav-pills li a {
	color: white;
}

.nav-pills li a:hover {
	background-color: #337ab7;
}

.clear {
	clear: both;
	height: 63px;
}

.wrapper {
	min-height: 100%;
}

.margin-8 {
	margin-top: 8%;
}

.panel {
	border:none;
}

.panel-body {
	background-color: white;
}

.sidebar-header {
	padding: 5px;
	font-size: 120%;
	letter-spacing: 2px;
}

.panel-info>.panel-heading {
	padding: 10px 0 0px 0px;
	background-color: #b2d3fb;
	color: white;
	border-color: transparent;
}

.panel-body p {
	color: grey;
}

.form-control {
	font-size: 14px;
	border-radius: 0px;
}

.input-lg {
	font-size: 14px;
}

.list-group-item-warning {
	color: #8a6d3b;
	background-color: #f9f9f9;
}

.info-block {
	font-size: 120%;
}

.info-block .badge {
	font-size: 80%;
}

.info-block span {
	margin-right: 3%;
}

textarea.form-control {
	height: 200px;
	margin-bottom: 5px;
}

.table tbody>tr>td.vert-align {
	vertical-align: middle;
}

footer{
 	color: #666;
 	background: #b2d3fb;
 	padding: 17px 0 18px 0;
 	border-top: 1px solid #000;
 }

footer a {
	font-size: 100%;
 	color: #5182b5;
 }

footer a:hover {
 	color: #efefef;
 }

.films_block {
	text-align: center;
}

.films_block img {
	margin-bottom: 5%;
	border-radius: 5px;
	border: solid 3px #5182B5;
	width: 100%;
}

.films_label {
	padding: 2%;
	margin-bottom: 4%;
}


@media (max-width: 767px) {
	.nav-pills>li {
		float: none;
	}

	.nav-pills {
		text-align: center;
	}

	.header h1 {
		letter-spacing: 7px;
		font-size: 300%;
	}

	.header {
		text-align: center;
	}
}